<h1>Profile </h1>

<h2>User</h2>

<h3 class = "User_Header">Username: <%= @current_user.username%> </h3>
<h3 class = "User_Header">Email: <%= @current_user.email%> </h3>
<h3 class = "User_Header">Phone Number: <%= @current_user.phone_number%> </h3>
<h3 class = "User_Header">Account No: <%= @current_user.account_no%> </h3>
<h3 class = "User_Header">Pan No:: <%= @current_user.pan_no%> </h3>
